<!Doctype html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Pronights - Breeze'18</title>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static "assets/css/specificevent.css" %}">
</head>
<body style="background-color:#A0E19F" >
	<div class="logo-container">
		<div class="container">
			<div id="logo" class="img-responsive"></div>
		</div>
	</div>
	<div class="container" id="top" style="background-color:#FFF0D9;">
	<legend><h1 style="font-size: 20px; letter-spacing: 5px; text-transform: uppercase;"><center>PRONIGHTS</center></h1></legend>
		<center><h1>TBA</h1></center>
		<ul class="nav nav-tabs nav-justified" style="background-color: #dacdba;font-family:'Montserrat'; border-radius: 0px;">
			{% for event in events %}
			{% if forloop.first %}
			<li class="active"><a data-toggle="tab" href="#{{ event.id }}">{{ event.name }}</a>
			</li>
			{% else %}
			<li><a data-toggle="tab" href="#{{ event.id }}">{{ event.name }}</a></li>
			{% endif %}
			{% endfor %}
		</ul>
		<div class="container">
			<div class="tab-content">
				 {% for event in events %}
				 {% if forloop.first %}
				<div class="tab-pane fade in active" id="{{ event.id }}">
				 {% else %}
				<div class="tab-pane fade" id="{{ event.id }}">
				 {% endif %}
					<div class="row">
						<h2 class="event-heading"><b>{{ event.name }}</b></h2>
					</div>
					<div class="row">
						<h3 class="captions"><b>Description</b></h3>
						<p>{{ event.description }}</p>
					</div>
					<div class="row">
						<h3 class="captions"><b>Rules</b></h3>
						<p>{{ event.rules }}</p>
					</div>
					<div class="row">
						<h3 class="captions"><b>Prize</b></h3>
						<p><b>Prize Worth: {{ event.prize }}</b><br/>
						</p>
					</div>
					<div class="row">
						<h3 class="captions"><b>Details</b></h3>
						<p><b>Date: {{ event.date }}</b><br/>
						<b>Venue: {{ event.venue }}</b><br/>
						</p>
					</div>
					<div class="row">
						<h3 class="captions"><b>Contact</b></h3>
						<p><b>{{ event.contact_market }} - <a href="tel:{{ event.phone_market }}">{{ event.phone_market }}</b></a><br/>
						<b>{{ event.contact_spons }} - <a href="tel:{{ event.phone_spons }}">{{ event.phone_spons }}</b></a><br/>
						<b>{{ event.contact_pr }} - <a href="tel:{{ event.phone_pr }}">{{ event.phone_pr }}</b></a><br/>
						</p>
						<br><br>
					</div>
					<div class="row">
						<form class="" action="{% url 'event_register' %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="event_id" value="{{ event.id }}">
							<input type="submit" name="" value="Register" class="btn btn-block" style="text-transform: uppercase;">
						</form>
							<br>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<br><br><br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static "assets/js/event.js" %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
